body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'MainFont';
  src: local('MainFont'), url(./fonts/Pacifico-Regular.ttf) format('ttf');
}

/* zen-dots-regular - latin */
@font-face {
  font-family: 'Zen Dots';
  /* font-style: normal;
  font-weight: 400; */
  src: local('Zen Dots'), url(./fonts/zen-dots-v1-latin-regular.ttf) format('ttf'); /*Safari, Android, iOS*/
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  /* font-style: normal;
  font-weight: 400; */
  src: local('Open Sans'), url(./fonts/open-sans-v18-latin-regular.ttf) format('ttf'); /* Safari, Android, iOS */
}

/* Define css class for global loading message to cover 
   screen during axios operations */

   .loading-indicator:before {
    content: '';
    background: #000000cc;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.loading-indicator:after {
    content: url('./images/sand-clock.svg');
    position: fixed;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 1001;
    color:white;
    text-align:center;
    font-weight:bold;
    font-size:1.5rem;        
}